.main {
  max-width: 46.5rem;
  margin: auto;
  padding: 2rem 1.45rem;
  line-height: 34px;
  letter-spacing: 0.9px;
  font-size: 1.1rem;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #a8adb2;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}
.title {
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  font-weight: 600;
}
.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 34rem;
  justify-content: flex-end;
  flex: 1 1 0%;
}
.navBar > a {
  margin-left: 1.4rem;
  font-size: 1.1rem;
  font-weight: 300;
}
.navBarImg {
  vertical-align: sub;
}
.profileWrapper {
  display: flex;
  margin-top: 4.2rem;
  margin-bottom: 5rem;
  font-size: 1.55rem;
  line-height: 2.8rem;
}
.avatar {
  /* border: 2px #f48c05 solid; */
  border-radius: 50%;
  margin-right: 2.2rem;
}
.introduction p {
  line-height: 2.7rem;
  margin-top: 5px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #a8adb2;
  font-size: 28px;
}
.introduction p > span {
  color: #eef5fc;
}
.socialNav {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  align-items: center;
}
.socialNavImg {
  margin-right: 6px;
}
.socialNav > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 24px;
  cursor: pointer;
  color: #a8adb2;
  font-size: 1.1rem;
}
.socialNav > a > span {
  margin-top: 4px;
}
.linkedin:hover {
  color: #0e76a8;
}
.github:hover {
  color: #d4d4d4;
}
.gmail {
  margin-top: 4px;
}
.gmail:hover {
  color: #e53935;
}
#gmailText {
  margin-top: 0px;
}

.footerWrapper {
  display: flex;
  padding-bottom: 0.3rem;
  padding-top: 4.2rem;
  margin-bottom: 0rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footerWrapper > a,
.footerWrapper > span {
  font-size: 0.95rem;
  font-weight: 500;
  color: rgb(168, 173, 178);
  line-height: 1.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .avatar {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
